In [1]:
# Bitwise Operators

In [4]:
var = 10
var1 = 20
print(var & var1) # and 
print(var | var1) # or
print( ~var) # not( 1's complement)
print(  ~var1)
print( var ^ var1) # XOR (1's complement)
print (var << 1) # left shift
print(var >> 1) # right shift

0
30
-11
-21
30
20
5

In [6]:
var = - 20
var1 = 30
print(var & var1) # and 
print(var | var1) # or
print( ~var) # not( 1's complement)
print(  ~var1)
print( var ^ var1) # XOR (1's complement)
print (var << 1) # left shift
print(var >> 1) # right shift

12
-2
19
-31
-14
-40
-10

In [10]:
# Membership operator
# 1. in (Sequence in a specified value)
# 2. not in 

str1=[1,2,3]
str2 =['john','zia']
print(1 in str1)
print('john' in str2)
print('maria' not in str2)
print(1 not in str1)

True
True
True
False

In [ ]:
# identity 
# 1. is 
# 2. is not
var1= ["john","zia","riya"]
var2= (1,2,3,4,5)
var3= [1,2,3,4,5]
var4= ["john","zia","riya"]
var1 = var4
#var2 = var3
print(var1)
#print(var2)
print(var2 is var3)
print(type(var3))
print(type(var2))
print(var1 is var4)
print(type(var1))
print(type(var4))
print(var1 is not var4)
print(var2 is not var3)

:

# Data Types

In [22]:
# Numeric data Types

In [23]:
var = 10 
print(var)

10

In [25]:
print(type(var))

<class 'int'>

In [28]:
var1 = int(input("Enter the value:"))
print(var1)
print(type(var1))
var2 = int(input("Enter the value:"))
print(var2)
print(type(var2))
var3= var1+var2
print(var3)
print(type(var3))

Enter the value:14
14
<class 'int'>
Enter the value:15
15
<class 'int'>
29
<class 'int'>

In [29]:
var1 = input("Enter the value:")
print(var1)
print(type(var1))
var2 = int(input("Enter the value:"))
print(var2)
print(type(var2))
var3= var1+var2
print(var3)
print(type(var3))

Enter the value:14
14
<class 'str'>
Enter the value:13
13
<class 'int'>

TypeError: can only concatenate str (not "int") to str

In [30]:
# float

In [32]:
a= int(input("Enter the values:"))
b= float(input("Enter the values:"))
c= a+b
print(c)
print(type(c))

Enter the values:12
Enter the values:11
23.0
<class 'float'>

In [35]:
#Complex 
a= complex(input("Enter the value:"))
print(a)
print(type(a))

Enter the value:3+7j
(3+7j)
<class 'complex'>

In [36]:
# String

In [37]:
var='Ravi'
var1="Ravi"
var2='''Ravi'''
print(var)
print(var1)
print(var2)
print(type(var))
print(type(var1))
print(type(var2))

Ravi
Ravi
Ravi
<class 'str'>
<class 'str'>
<class 'str'>

In [43]:
a= input('Enter tha name ')
print(a)
print(type(a))

Enter tha name Ravi
Ravi
<class 'str'>

In [60]:
# Methods of String
S= "Python Python Programing"
S1= " Python Training"
S2= " Java "

print(S.count("p"))# Count 
s3=S.split() # Split
print(s3)
print(" ".join([S1,S2])) #Join
s4=S1 +" " + S2 # concatination
print(s4)
s5=S.find("Python")
print(s5)
s6= S.replace("Python","Training")
print(s6)

0
['Python', 'Python', 'Programing']
 Python Training  Java
 Python Training  Java
0
Training Training Programing