In [1]:
# Loop

In [7]:
lst=[1,2,3,4,5,6,7,8]
# lst1=int(input("Enter the value"))
print(lst)
for i in lst:
    print(i,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8]
1 2 3 4 5 6 7 8

In [15]:
x=["John","Maria","Roy","Zia"]
for i in x:
    print(i, end= " ")

John Maria Roy Zia

In [11]:
x=["John","Maria","Roy","Zia"]
for i in x:
    print(i)

John
Maria
Roy
Zia

In [18]:
x=["John","Maria","Roy","Zia","Vivek"]
x1=[10,20,30,40,50]
for i in x1:
    print(x1)
for i in x:
    print(x)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
['John', 'Maria', 'Roy', 'Zia', 'Vivek']
['John', 'Maria', 'Roy', 'Zia', 'Vivek']
['John', 'Maria', 'Roy', 'Zia', 'Vivek']
['John', 'Maria', 'Roy', 'Zia', 'Vivek']
['John', 'Maria', 'Roy', 'Zia', 'Vivek']

In [20]:
# Wap to print 1 -10
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [27]:
# Wap to print 1-n
n=int(input("Enter the value:"))
for i in range(n):
    print(i+2)

Enter the value:9
2
3
4
5
6
7
8
9
10

In [28]:
# Even number

In [32]:

n=int(input("Enter the number:"))
for i in range(2,n,2):
    print("Even=",i)

Enter the number:10
Even= 2
Even= 4
Even= 6
Even= 8

In [33]:
#n=int(input("Enter the number:"))
for i in range(2,4,2):
    print("Even=",i)

Even= 2

In [38]:
n=int(input("Enter the number:"))
for i in range(1,n,2):
    print("ODD=",i)

Enter the number:6
ODD= 1
ODD= 3
ODD= 5

In [52]:
n=int(input("Enter the number:"))
for i in range(n,n+1):
    if n%2==0:
        print("EVEN")
    else:
        print("ODD")

Enter the number:7
ODD

In [53]:
# While

In [61]:
A=[1,2,3,4,5,6]
i=len(A)-1 # Length of particular variable -len
while i>=0:
    print(A[i],end=" ")
    i=i-1

6 5 4 3 2 1

In [62]:
A=[1,2,3,4,5,6]
i=1 # Length of particular variable -len
while i<=len(A):
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6

In [1]:
# Print 1 to n
n= int(input("Enter the Value:"))
i=1
while i <= n:
    print(i,end=" ")
    i+=1

Enter the Value:10
1 2 3 4 5 6 7 8 9 10

In [2]:
# WAP to create a multiplication table
n=int(input("Enter the number:"))
for i in range(1,11):
    print(n,'*',i,"=",n*i)

Enter the number:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [3]:
x=int(input("enter a range:"))
i=1
while i<11:
    print(x,"*",i," = ",x*i)
    i=i+1

enter a range:4
4 * 1  =  4
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16
4 * 5  =  20
4 * 6  =  24
4 * 7  =  28
4 * 8  =  32
4 * 9  =  36
4 * 10  =  40

In [15]:
A=[1,2,3,4,5,6,7,8,9,10]
for i in A:
    #print(i)
    if i >=5:
        break
        #print(i)
    print(i)

1
2
3
4

In [6]:
A=[1,2,3,4,5,6,7,8,9,10]
for i in A:    
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [8]:
A=[1,2,3,4,5,6,7,8,9,10]
for i in A: 
    #print(i)
    if i >= 5:
        continue
    print(i)

1
2
3
4

In [10]:
A=[1,2,3,4,5,6,7,8,9,10]
for i in A: 
    #print(i)
    if i >= 5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
A=[1,2,3,4,5,6,7,8,9,10]
for i in A:
    pass

In [16]:
# Nested Loop ( 1 loop - row , 1 loop - col)
# *
# * *
# * * *
# * * * *
# * * * * *
# print this

In [23]:
rows = int(input("Enter the rows:"))
for i in range(rows):
    for j in range(i+1):
        print("* ",end=" ")
    print("\n")

Enter the rows:5
*

*  *

*  *  *

*  *  *  *

*  *  *  *  *

In [22]:
for i in range(1,6,1):
    for j in range(1,6):
        if j<=i:
            print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [24]:
# Print it 
#         * 
#      *     *
#   *     *      * 
# *   *      *       *

In [46]:
rows=int(input("Enter the rows: "))
n= rows-1
for i in range(rows):
    for j in range(n):
        print(end="  ")
    n=n-1
    for k in range(i+1):
        print("* ",end="  ")
    print("\n")

Enter the rows: 5
        *

      *   *

    *   *   *

  *   *   *   *

*   *   *   *   *

In [47]:
#  1
# 1 2 
# 1 2 3

In [48]:
# WAP to find the number is pallindrom or not (Ex - MADAM , EX - 121 )

In [49]:
# # WAP to find the factor of particular number

In [2]:
num = int(input("Enter a number: "))

# Find factors of the number
factors = []
for i in range(1, num+1):
    if num % i == 0:
        factors.append(i)

# Print factors
print("Factors of", num, "are:", factors)

Enter a number: 100
Factors of 100 are: [1, 2, 4, 5, 10, 20, 25, 50, 100]